<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>成果一览</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>

<body>
    <table data-toggle="table" striped="true">
        <thead>
            <tr>
                <th>编号</th>
                <th>小伙伴</th>
                <th>分享者</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>
</html>